DISCORD_TOKEN=coloque_o_token_aqui
CLIENT_ID=coloque_o_client_id_aqui
GUILD_ID=coloque_o_guild_id_aqui
PANEL_CHANNEL_ID=coloque_o_canal_do_painel_aqui
ADMIN_CHANNEL_ID=coloque_o_canal_admin_aqui
LOG_CHANNEL_ID=coloque_o_canal_logs_aqui
STAFF_ROLE_ID=
PANEL_MESSAGE_ID=
TIMEZONE=America/Sao_Paulo
MEMBER_ROLE_ID=
REMOVE_ROLE_ON_INACTIVE=false
